@import './src/styles/index.scss' ;

.logement__container{
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 30px;

    .rate{
        width: 30px;
        height: 30px; 
        @media only screen and (max-width: 830px) {
            width: 15px;
            height: 15px;
            margin-right: 0.2rem; 
            }
    }
}

.accordions__container{
    display: flex;
    justify-content: space-between;
   .accordion {
     width: 47%;
     margin: 0;
     padding: 0;
     @media only screen and (max-width: 830px) {
        flex-direction: column;
        width: 100%;
           }
    }
    @media only screen and (max-width: 830px) {
     flex-direction: column;
    
         }

}
.tags{
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-wrap: wrap;
            
    .tag{
        background-color:$main-color;
        color: $white-color;
        padding: 0.4rem 1.6rem;
        font-size: 14px; 
        border-radius: 10px; 
        @media only screen and (max-width: 830px) {
            font-size: 13px;
            padding: 0.3rem 1rem;
            }
            @media only screen and (max-width: 600px) {
                font-size: 10px
                }
        
    }
}