@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
$main-color : #ff6060;
$dark-color:#000000;
$white-color:#FFFFFF;

@mixin display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
