@import './src/styles/index.scss' ;

.error__main{
    color:$main-color ;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    height:50vh;
    
    padding-top: 50px;

    h1{
        font-size: 200px; 
        margin: 0;
        padding: 0;

        @media only screen and (max-width: 600px) {
            font-size: 96px; 
   
        }
    }
    h2{
        @media only screen and (max-width: 600px) {
            font-size: 18px; 
            text-align: center;
            max-width: 60%;

        }
    }
    a{
       color: $main-color;
    }
}