@import './src/styles/index.scss' ;
footer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color:$dark-color ;
padding: 66px 0px 29px 0px; 
position: absolute;
bottom: 0;
width: 100%;


 h3{
    color:$white-color;
    font-weight: 100;
    font-size: 1em;

 }

}

