@import './src/styles/index.scss' ;
.accordion{
  
   .accordion__container{
      padding: 0rem;
    .title__accordion{

    padding: 0rem 1rem;
    background-color:  $main-color;
    border-radius: 5px;
   
      h2{
         
         color: $white-color;
         cursor: pointer;
         padding: 0.4rem 0rem 0.4rem 1rem;
       
         display: flex;
         justify-content: space-between;
         align-items: center;
         z-index: 3;
         font-weight: 200;
       
         
     
         .arrow__down{
      
         transform: rotate(-180deg);
         transition: all 0.5s ease;
         }
         .arrow__up{
            // transform: rotate(90deg);
            transition: all 0.5s ease;
         }
    
      }
   }
      .description__container{
         // position: relative;
      }
    
      p{
     
         background-color: $secondary-color;
         color: $main-color;
         padding: 0rem 1rem 0rem 1rem;
         z-index: -8;
         font-size: 19px;
         line-height: 32px;
         overflow: hidden;
         max-height: 0px;
         transition: max-height 0.7s cubic-bezier(0,1,0,1);
         transition: padding 0.7s cubic-bezier(0,1,0,1) ;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
         margin-top: -1.20rem;
         
     
         
      }
      .show{
         
        height: auto;
        max-height: 9999px;
        padding: 1rem 1rem 2rem 1rem;
        transition: all 0.7s cubic-bezier(1,0,1,0) ;
        transition: max-height 0.7s cubic-bezier(1,0,1,0) ;

      
  
      
      }
   }
}
