@import './src/styles/index.scss' ;

.logement__container{
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 40px;
}

.accordions__container{
    display: flex;
    justify-content: space-between;
   .accordion {
     width: 47%;
     margin: 0;
     padding: 0;
   
    }

}
.tags{
    display: flex;
    justify-content: start;
    gap: 1rem;
}
.tag{
    background-color:$main-color;
    color: $white-color;
    padding: 0.4rem 1.6rem;
    font-size: 14px; 
    border-radius: 10px; 
   
    
}