@import './src/styles/index.scss' ;
.home__bg{
  @include home-bg;
}
.propos__bg{
  @include propos-bg;
}

.banner{

    border-radius: 25px;
    height: 223px;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 50px;
   
    background-position: center;
    background-size: cover;
  @include display-flex;
  color: $white-color;
      h1{
        font-size: 48px;
      }
    }