@import './src/styles/index.scss' ;

.banner{
    border-radius: 25px;
    height: 223px;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 50px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.5)
      ), no-repeat url("./../../assets/banner.jpg");
    background-position: center;
    background-size: cover;
  @include display-flex;
  color: $white-color;
      h1{
        font-size: 48px;
      }
    }